<div class="display-6 bg-secondary text-center text-light p-3">
  Cadastro de Livros
</div>
<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Autor</th>
          <th scope="col">Qtd Paginas</th>
          <th scope="col">Data de Publicação</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Harry Potter e a Pedra Filosofal</td>
        <td>J.K. Rowling</td>
        <td>223</td>
        <td>26/06/1997</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Game of Thrones</td>
        <td>George R.R. Martin</td>
        <td>694</td>
        <td>01/08/1996</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>A Sociedade do Anel</td>
        <td>J.R.R. Tolkien</td>
        <td>423</td>
        <td>29/07/1954</td>
      </tr>
  </tbody>
</table>
