<div class="display-6 bg-secondary text-center text-light p-3">
  Cadastro de Livros
</div>
<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Autor</th>
          <th scope="col">Qtd Paginas</th>
          <th scope="col">Data de Publicação</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let p of livros" >
        <th scope="row">{{p.id}}</th>
        <td>{{p.titulo}}</td>
        <td>{{p.autor}}</td>
        <td>{{p.qtdpagina}}</td>
        <td>{{p.dtapublic}}</td>
      </tr>
  </tbody>
</table>
